<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="login-container">
    <div class="login-card">
      <h2>Login</h2>

      <div class="social-buttons">
        <a href="#" class="social google">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google logo">
          Signup with Google
        </a>
        <a href="#" class="social facebook">
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png" alt="Facebook logo">
          Signup with Facebook
        </a>
